In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('sustainability.csv')

In [ ]:
df.head()

,Sl. No.,State/UT,Wind Power - (MW) @ 120m,Small Hydro Power - (MW),Bio-Energy - Biomass Power - (MW),Bio-Energy - Bagase Cogeneration - (MW),Bio-Energy - Waste To Energy - (MW),Solar - (MW),Total - (MW)
0,1,Andhra Pradesh,74906.0,409.32,578.0,300.0,123.0,38440,114756.0
1,2,Arunachal Pradesh,274.0,2064.92,8.0,NaN,NaN,8650,10997.0
2,3,Assam,246.0,201.99,212.0,NaN,8.0,13760,14428.0
3,4,Bihar,3650.0,526.98,619.0,300.0,73.0,11200,16369.0
4,5,Chhattisgarh,348.0,1098.20,236.0,NaN,24.0,18270,19976.0

In [4]:
print(df.isnull())

    Sl. No.  State/UT  Wind Power - (MW) @ 120m  Small Hydro Power - (MW)  \
0     False     False                     False                     False
1     False     False                     False                     False
2     False     False                     False                     False
3     False     False                     False                     False
4     False     False                     False                     False
5     False     False                     False                     False
6     False     False                     False                     False
7     False     False                     False                     False
8     False     False                     False                     False
9     False     False                     False                     False
10    False     False                     False                     False
11    False     False                     False                     False
12    False     False                     False                     False
13    False     False                     False                     False
14    False     False                     False                     False
15    False     False                     False                     False
16    False     False                     False                     False
17    False     False                     False                     False
18    False     False                     False                     False
19    False     False                     False                     False
20    False     False                     False                     False
21    False     False                     False                     False
22    False     False                     False                     False
23    False     False                     False                     False
24    False     False                     False                     False
25    False     False                     False                     False
26    False     False                     False                     False
27    False     False                     False                     False
28    False     False                     False                     False
29    False     False                     False                     False
30    False     False                     False                      True
31    False     False                     False                      True
32    False     False                     False                      True
33    False     False                     False                      True
34    False     False                     False                      True
35    False     False                     False                      True
36    False     False                      True                      True
37    False     False                     False                     False

    Bio-Energy - Biomass Power - (MW)  \
0                               False
1                               False
2                               False
3                               False
4                               False
5                               False
6                               False
7                               False
8                               False
9                               False
10                              False
11                              False
12                              False
13                              False
14                              False
15                              False
16                              False
17                              False
18                              False
19                              False
20                              False
21                              False
22                              False
23                              False
24                               True
25                              False
26                              False
27                              False
28                              False
29                               True
30                               True
31                               True
32                               True
33                               True
34                               True
35                               True
36                               True
37                              False

    Bio-Energy - Bagase Cogeneration - (MW)  \
0                                     False
1                                      True
2                                      True
3                                     False
4                                      True
5                                      True
6                                     False
7                                     False
8                                      True
9                                      True
10                                     True
11                                    False
12                                     True
13                                     True
14                                    False
15                                     True
16                                     True
17                                     True
18                                     True
19                                     True
20                                    False
21                                     True
22                                     True
23                                    False
24                                     True
25                                     True
26                                    False
27                                     True
28                                     True
29                                     True
30                                     True
31                                     True
32                                     True
33                                     True
34                                     True
35                                     True
36                                     True
37                                    False

    Bio-Energy - Waste To Energy - (MW)  Solar - (MW)  Total - (MW)
0                                 False         False         False
1                                  True         False         False
2                                 False         False         False
3                                 False         False         False
4                                 False         False         False
5                                  True         False         False
6                                 False         False         False
7                                 False         False         False
8                                 False         False         False
9                                  True         False         False
10                                False         False         False
11                                 True         False         False
12                                False         False         False
13                                False         False         False
14                                False         False         False
15                                False         False         False
16                                False         False         False
17                                False         False         False
18                                 True         False         False
19                                False         False         False
20                                False         False         False
21                                False         False         False
22                                 True         False         False
23                                False         False         False
24                                 True         False         False
25                                False         False         False
26                                False         False         False
27                                False         False         False
28                                False         False         False
29                                 True         False         False
30                                False         False         False
31                                 True         False         False
32                                 True         False         False
33                                False         False         False
34                                 True         False         False
35                                False         False         False
36                                False         False         False
37                                False         False         False

In [5]:
print(df.notnull())

    Sl. No.  State/UT  Wind Power - (MW) @ 120m  Small Hydro Power - (MW)  \
0      True      True                      True                      True
1      True      True                      True                      True
2      True      True                      True                      True
3      True      True                      True                      True
4      True      True                      True                      True
5      True      True                      True                      True
6      True      True                      True                      True
7      True      True                      True                      True
8      True      True                      True                      True
9      True      True                      True                      True
10     True      True                      True                      True
11     True      True                      True                      True
12     True      True                      True                      True
13     True      True                      True                      True
14     True      True                      True                      True
15     True      True                      True                      True
16     True      True                      True                      True
17     True      True                      True                      True
18     True      True                      True                      True
19     True      True                      True                      True
20     True      True                      True                      True
21     True      True                      True                      True
22     True      True                      True                      True
23     True      True                      True                      True
24     True      True                      True                      True
25     True      True                      True                      True
26     True      True                      True                      True
27     True      True                      True                      True
28     True      True                      True                      True
29     True      True                      True                      True
30     True      True                      True                     False
31     True      True                      True                     False
32     True      True                      True                     False
33     True      True                      True                     False
34     True      True                      True                     False
35     True      True                      True                     False
36     True      True                     False                     False
37     True      True                      True                      True

    Bio-Energy - Biomass Power - (MW)  \
0                                True
1                                True
2                                True
3                                True
4                                True
5                                True
6                                True
7                                True
8                                True
9                                True
10                               True
11                               True
12                               True
13                               True
14                               True
15                               True
16                               True
17                               True
18                               True
19                               True
20                               True
21                               True
22                               True
23                               True
24                              False
25                               True
26                               True
27                               True
28                               True
29                              False
30                              False
31                              False
32                              False
33                              False
34                              False
35                              False
36                              False
37                               True

    Bio-Energy - Bagase Cogeneration - (MW)  \
0                                      True
1                                     False
2                                     False
3                                      True
4                                     False
5                                     False
6                                      True
7                                      True
8                                     False
9                                     False
10                                    False
11                                     True
12                                    False
13                                    False
14                                     True
15                                    False
16                                    False
17                                    False
18                                    False
19                                    False
20                                     True
21                                    False
22                                    False
23                                     True
24                                    False
25                                    False
26                                     True
27                                    False
28                                    False
29                                    False
30                                    False
31                                    False
32                                    False
33                                    False
34                                    False
35                                    False
36                                    False
37                                     True

    Bio-Energy - Waste To Energy - (MW)  Solar - (MW)  Total - (MW)
0                                  True          True          True
1                                 False          True          True
2                                  True          True          True
3                                  True          True          True
4                                  True          True          True
5                                 False          True          True
6                                  True          True          True
7                                  True          True          True
8                                  True          True          True
9                                 False          True          True
10                                 True          True          True
11                                False          True          True
12                                 True          True          True
13                                 True          True          True
14                                 True          True          True
15                                 True          True          True
16                                 True          True          True
17                                 True          True          True
18                                False          True          True
19                                 True          True          True
20                                 True          True          True
21                                 True          True          True
22                                False          True          True
23                                 True          True          True
24                                False          True          True
25                                 True          True          True
26                                 True          True          True
27                                 True          True          True
28                                 True          True          True
29                                False          True          True
30                                 True          True          True
31                                False          True          True
32                                False          True          True
33                                 True          True          True
34                                False          True          True
35                                 True          True          True
36                                 True          True          True
37                                 True          True          True

In [6]:
df.fillna(0)

,Sl. No.,State/UT,Wind Power - (MW) @ 120m,Small Hydro Power - (MW),Bio-Energy - Biomass Power - (MW),Bio-Energy - Bagase Cogeneration - (MW),Bio-Energy - Waste To Energy - (MW),Solar - (MW),Total - (MW)
0,1,Andhra Pradesh,74906.0,409.32,578.00,300.0,123.0,38440,114756.00
1,2,Arunachal Pradesh,274.0,2064.92,8.00,0.0,0.0,8650,10997.00
2,3,Assam,246.0,201.99,212.00,0.0,8.0,13760,14428.00
3,4,Bihar,3650.0,526.98,619.00,300.0,73.0,11200,16369.00
4,5,Chhattisgarh,348.0,1098.20,236.00,0.0,24.0,18270,19976.00
5,6,Goa,8.0,4.70,26.00,0.0,0.0,880,918.00
6,7,Gujarat,142560.0,201.97,1221.00,350.0,112.0,35770,180215.00
7,8,Haryana,419.0,107.40,1333.00,350.0,24.0,4560,6793.00
8,9,Himachal Pradesh,151.0,3460.34,142.00,0.0,2.0,33840,37595.00
9,10,UT of Jammu & Kashmir and Ladakh,3.0,1707.45,43.00,0.0,0.0,111050,112803.00
10,11,Jharkhand,0.0,227.96,90.00,0.0,10.0,18180,18508.00
11,12,Karnataka,124155.0,3726.49,1131.00,450.0,0.0,24700,154162.00
12,13,Kerala,2311.0,647.15,1044.00,0.0,36.0,6110,10149.00
13,14,Madhya Pradesh,15404.0,820.44,1364.00,0.0,78.0,61660,79326.00
14,15,Maharashtra,98213.0,786.46,1887.00,1250.0,287.0,64320,166744.00
15,16,Manipur,0.0,99.95,13.00,0.0,2.0,10630,10745.00
16,17,Meghalaya,1.0,230.05,11.00,0.0,2.0,5860,6104.00
17,18,Mizoram,0.0,168.90,1.00,0.0,2.0,9090,9261.00
18,19,Nagaland,0.0,182.18,10.00,0.0,0.0,7290,7482.00
19,20,Orissa,8346.0,286.22,246.00,0.0,22.0,25780,34681.00
20,21,Punjab,278.0,578.28,3172.00,300.0,45.0,2810,7183.00
21,22,Rajasthan,127756.0,51.67,1039.00,0.0,62.0,142310,271219.00
22,23,Sikkim,0.0,266.64,2.00,0.0,0.0,4940,5209.00
23,24,Tamil Nadu,68750.0,604.46,1070.00,450.0,151.0,17670,88695.00
24,25,Telangana,24835.0,102.25,0.00,0.0,0.0,20410,45347.00
25,26,Tripura,0.0,46.86,3.00,0.0,2.0,2080,2131.00
26,27,Uttar Pradesh,101.0,460.75,1617.00,1250.0,176.0,22830,26434.00
27,28,Uttarakhand,54.0,1664.31,24.00,0.0,5.0,16800,18547.00
28,29,West Bengal,1050.0,392.06,396.00,0.0,148.0,6260,8246.00
29,30,Andaman & Nicobar Islands,1277.0,7.27,0.00,0.0,0.0,0,1284.00
30,31,Chandigarh,0.0,0.00,0.00,0.0,6.0,0,6.00
31,32,Dadra & Nagar Haveli,0.0,0.00,0.00,0.0,0.0,0,0.00
32,33,Daman & Diu,0.0,0.00,0.00,0.0,0.0,0,0.00
33,34,Delhi,0.0,0.00,0.00,0.0,131.0,2050,2181.00
34,35,Lakshadweep,31.0,0.00,0.00,0.0,0.0,0,31.00
35,36,Pondicherry,382.0,0.00,0.00,0.0,3.0,0,385.00
36,37,Others,0.0,0.00,0.00,0.0,1022.0,790,1812.00
37,Total,Total,695509.0,21133.62,17536.41,5000.0,2554.0,748990,1490723.03

In [7]:
df.fillna(method="pad")

,Sl. No.,State/UT,Wind Power - (MW) @ 120m,Small Hydro Power - (MW),Bio-Energy - Biomass Power - (MW),Bio-Energy - Bagase Cogeneration - (MW),Bio-Energy - Waste To Energy - (MW),Solar - (MW),Total - (MW)
0,1,Andhra Pradesh,74906.0,409.32,578.00,300.0,123.0,38440,114756.00
1,2,Arunachal Pradesh,274.0,2064.92,8.00,300.0,123.0,8650,10997.00
2,3,Assam,246.0,201.99,212.00,300.0,8.0,13760,14428.00
3,4,Bihar,3650.0,526.98,619.00,300.0,73.0,11200,16369.00
4,5,Chhattisgarh,348.0,1098.20,236.00,300.0,24.0,18270,19976.00
5,6,Goa,8.0,4.70,26.00,300.0,24.0,880,918.00
6,7,Gujarat,142560.0,201.97,1221.00,350.0,112.0,35770,180215.00
7,8,Haryana,419.0,107.40,1333.00,350.0,24.0,4560,6793.00
8,9,Himachal Pradesh,151.0,3460.34,142.00,350.0,2.0,33840,37595.00
9,10,UT of Jammu & Kashmir and Ladakh,3.0,1707.45,43.00,350.0,2.0,111050,112803.00
10,11,Jharkhand,0.0,227.96,90.00,350.0,10.0,18180,18508.00
11,12,Karnataka,124155.0,3726.49,1131.00,450.0,10.0,24700,154162.00
12,13,Kerala,2311.0,647.15,1044.00,450.0,36.0,6110,10149.00
13,14,Madhya Pradesh,15404.0,820.44,1364.00,450.0,78.0,61660,79326.00
14,15,Maharashtra,98213.0,786.46,1887.00,1250.0,287.0,64320,166744.00
15,16,Manipur,0.0,99.95,13.00,1250.0,2.0,10630,10745.00
16,17,Meghalaya,1.0,230.05,11.00,1250.0,2.0,5860,6104.00
17,18,Mizoram,0.0,168.90,1.00,1250.0,2.0,9090,9261.00
18,19,Nagaland,0.0,182.18,10.00,1250.0,2.0,7290,7482.00
19,20,Orissa,8346.0,286.22,246.00,1250.0,22.0,25780,34681.00
20,21,Punjab,278.0,578.28,3172.00,300.0,45.0,2810,7183.00
21,22,Rajasthan,127756.0,51.67,1039.00,300.0,62.0,142310,271219.00
22,23,Sikkim,0.0,266.64,2.00,300.0,62.0,4940,5209.00
23,24,Tamil Nadu,68750.0,604.46,1070.00,450.0,151.0,17670,88695.00
24,25,Telangana,24835.0,102.25,1070.00,450.0,151.0,20410,45347.00
25,26,Tripura,0.0,46.86,3.00,450.0,2.0,2080,2131.00
26,27,Uttar Pradesh,101.0,460.75,1617.00,1250.0,176.0,22830,26434.00
27,28,Uttarakhand,54.0,1664.31,24.00,1250.0,5.0,16800,18547.00
28,29,West Bengal,1050.0,392.06,396.00,1250.0,148.0,6260,8246.00
29,30,Andaman & Nicobar Islands,1277.0,7.27,396.00,1250.0,148.0,0,1284.00
30,31,Chandigarh,0.0,7.27,396.00,1250.0,6.0,0,6.00
31,32,Dadra & Nagar Haveli,0.0,7.27,396.00,1250.0,6.0,0,0.00
32,33,Daman & Diu,0.0,7.27,396.00,1250.0,6.0,0,0.00
33,34,Delhi,0.0,7.27,396.00,1250.0,131.0,2050,2181.00
34,35,Lakshadweep,31.0,7.27,396.00,1250.0,131.0,0,31.00
35,36,Pondicherry,382.0,7.27,396.00,1250.0,3.0,0,385.00
36,37,Others,382.0,7.27,396.00,1250.0,1022.0,790,1812.00
37,Total,Total,695509.0,21133.62,17536.41,5000.0,2554.0,748990,1490723.03

In [12]:
numeric_columns = ['Total - (MW)']  # Specify columns containing numeric data
df[numeric_columns] = df[numeric_columns].astype(float)